/* You can add global styles to this file, and also import other style files */

.required {
  color: #ff0000;
}

.error-mg {
  color: #ff0000;
  font-size: 14px;
  margin-top: 4px;
  background-size: 16px 16px;
}

.has-error {
  border-color: #ff0000 !important;
}

.right-10 {
  margin-right: 10px;
}

a {
  cursor: pointer;
}
