<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">On Boarding App</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <button class="btn my-2 my-sm-0" type="submit"> {{userName | uppercase}}</button>
    </form>
  </div>
</nav>
<div class="divContainer">

  <div class="card">
    <div class="card-header">
      <ul class="nav nav-tabs card-header-tabs">

        <li class="nav-item">
          <a class="nav-link" (click)="activateAddStudentView()" [ngClass]="{'active' : activeTab === 'add' }">
            OnBoarding Form</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="activateViewStudentsView()" [ngClass]="{'active' : activeTab !== 'add' }">
            List Students</a>
        </li>
      </ul>
    </div>

    <div class="card-body">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
